<!--
  Generated template for the EditWordsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-title *ngIf='editing'>Edit {{contact.text}}</ion-title>
      <ion-buttons >
          <button ion-button (click)="cancel()">
              Cancel
          </button>
      </ion-buttons>
      <ion-title *ngIf='!editing'>New Contact</ion-title>
      <ion-buttons end>
          <button ion-button (click)="save()">
              Save
          </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
<ion-list>
  <ion-item *ngFor="let item of items">
    {{ item }}
  </ion-item>
</ion-list>
    <ion-list>
        <ion-item>
            <ion-label>Enter Contact</ion-label>
            <ion-input [(ngModel)]="contact.name" type="text" placeholder="Enter Contact"></ion-input>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item>
            <ion-label>Enter Phone Number</ion-label>
            <ion-input [(ngModel)]="contact.number" type="text" placeholder="Enter Phone Number"></ion-input>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item>
            <ion-label>Send Location</ion-label>
            <ion-toggle [(ngModel)]="contact.send_location" color="royal" checked="false"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Record Audio</ion-label>
            <ion-toggle [(ngModel)]="contact.record_audio" color="royal" checked="false"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Delay</ion-label>
            <ion-toggle [(ngModel)]="contact.delay" color="royal" checked="false"></ion-toggle>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item *ngFor="let word of words">
            <ion-label>{{word.text}}</ion-label>
            <ion-checkbox (ionChange)="toggleWord(word)" [checked]="contains(word)"></ion-checkbox>
        </ion-item>
    </ion-list>
</ion-content>
