page-activation {
  .activated {
    background-color: #97DD6A
  }

  .listeningButton {
    background-color: #67CF3B;
    margin: 40% auto auto;
    font-family: 'Helvetica Neue';
    vertical-align: middle;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    font-size:30px;
    display: block;
  }

  .deactivated {
    background-color: #FFE066;
  }

  .inactiveButton {
    background-color: #FFCC00;
    margin: 40% auto auto;
    font-family: 'Helvetica Neue';
    vertical-align: middle;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    font-size:30px;
    display: block;
  }
}

$colors: (
light-red:    #D55D5E,
dark-red:  #E01C1D,
light-green:  #97DD69,
dark-green:   #67CF3C

);

circle {
opacity: 0;
position: absolute;
top:0;
left:0;
width:100%;
height:100%;
display: block;;
border-radius: 50%;
border: 4px solid black;
}
