<ion-content *ngIf="!active" class="deactivated">
  <button type="button" (click) = "listening()" class="inactiveButton" ion-button round large>
    Inactive
  </button>
</ion-content>


<ion-content *ngIf="active" class="activated">
  <ion-textarea id="test" [(ngModel)]="matchString" placeholder="Enter a description"></ion-textarea>
  <button type="button" (click) = "listening2()" class="listeningButton" ion-button round large style="font-family: 'Helvetica Neue'; height: 200px; width: 200px; border-radius: 100%; font-size:30px; display: block; margin: auto; vertical-align: middle;">
    Listening
  </button>

</ion-content>
