<ion-header>
  <ion-navbar>
    <ion-title>SafeWords</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="newWord()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Manage Words</h2>
  <!-- <ion-list>
      <ion-item *ngFor="let word of words; let i = index;">{{word}}</ion-item>
  </ion-list> -->

  <ion-list>

  <ion-item-sliding *ngFor="let word of words">

    <ion-item>
    {{word.data.text}}
    </ion-item>

    <ion-item-options>
      <button (click)="editItem(word)">Edit</button>
      <button (click)="removeItem(word)"><ion-icon md="trash"></ion-icon> Delete</button>
    </ion-item-options>
  </ion-item-sliding>

  </ion-list>

</ion-content>
