<!--
  Generated template for the EditWordsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-title *ngIf='editing'>Edit {{word.text}}</ion-title>
      <ion-buttons >
          <button ion-button (click)="cancel()">
              Cancel
          </button>
      </ion-buttons>
      <ion-title *ngIf='!editing'>New Word</ion-title>
      <ion-buttons end>
          <button ion-button (click)="save()">
              Save
          </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label >Enter Word</ion-label>
            <ion-input [(ngModel)]="word.text" type="text" placeholder="Enter Word"></ion-input>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item>
            <ion-label>Send Location</ion-label>
            <ion-toggle [(ngModel)]="word.send_location" color="royal" checked="false"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Record Audio</ion-label>
            <ion-toggle [(ngModel)]="word.record_audio" color="royal" checked="false"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Delay</ion-label>
            <ion-toggle [(ngModel)]="word.delay" color="royal" checked="false"></ion-toggle>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item *ngFor="let contact of contacts">
            <ion-label>{{contact.name}}</ion-label>
            <ion-checkbox (ionChange)="toggleContact(contact)" [checked]="contains(contact)"></ion-checkbox>
        </ion-item>
    </ion-list>
</ion-content>
